body{
    margin: 0;
    padding: 0;
}

#main{
    position: relative;
    background-image: url(../assets/images/main-img.jpg);
    background-size: 100vw;
    background-color: rgb(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#overlay{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
}